.layout {
  padding: 10px;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: [Header]100px [self] auto [ct_ln] auto [ft] auto;
  grid-template-areas: 
  "hd hd hd"
  "sf sf sf"
  "ct ct ct"
  "ft ft ft";
}