/* mid-width container for larger screens */
@media(max-width:420px){
.layout {
  padding: 0px;
  /* setting up grids */
  display:grid;
  grid-template-columns: [line1] 1fr [line2] 1fr [line3] 1fr [line4];
  grid-template-rows: auto [line1] auto [line2] auto [line3] auto [line4];
  grid-template-areas: 
  "hd hd hd"
  "sf sf sf"
  "ct ct ct"
  "ft ft ft";
}
.content {
  /* border: 1px solid red; */
  margin: 5px;
}
section h3 {
  align-self: center;
  margin-left: 0;
}

div.post {
  /* border: 1px solid red; */
  background-color: white;
  box-shadow: 0px 0px 10px #888888;
  margin-bottom: 10px;
  flex-direction: column;
  transition: none;
}
div.post > button {
  /* border: 1px solid red; */
  background-color: rgb(245, 212, 119);
  height: 80px;
  width: 80px;
  transition: none;
  align-self: center;
}

p {
  line-height: 1.4;
}

/* media query finished.  */
} 